

.dealTypeChart {
    width: 295px;
    height: 308px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);
    margin-right: 20px;
    background-color: white;
    
}
.dealTypeChart_top {
    width: 100%;
    height: 44px;
    display: flex;
}
.dealTypeChart_top_left {
    width: 50%;
    height: 100%;
}
.dealTypeChart_top_title {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 28px 0px 0px 25px;
    font-family: 'Source Sans Pro', sans-serif;
}



.dealTypeChart_middle {
    width: 295px;
    height: 216px;
    display: flex;
    justify-content: center;
    transform: translateY(10px);
}
.dealTypeChart_chartStyle {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dealTypeChart_textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    
}
.dealTypeChart_summary {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: #2c3f5e;
}
.dealTypeChart_smalltitle {
    font-size: 10px;
    font-weight: bold;
    color: #a5acba;
    margin: 0;
}


.dealTypeChart_bottom {
    width: 100%;
    height: calc(100% - 170px - 90px);
    border-style: solid;
    border-color: #e5e9ec;
    border-width: 1px 0px 0px 0px;
    display: flex; justify-content: center;
}
.dealTypeChart_bottom_legend_container {
    width: 250px;
    height: 100%;
    display: flex;
}
.dealTypeChart_bottom_legend {
    width: 50%;
    height: 100%;
    display: flex; align-items: center; justify-content: center;
}

.dealTypeChart_bottom_legend>p {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-left: 7px;
}

#legend_SBA504 {
    background-color: #4873d3;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}
#legend_SBA7a {
    background-color: #afb4c1;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}
#legend_LOC {
    background-color: #a8def4;
    width: 7px;
    height: 7px;
    border-radius: 10px;
}