@mixin portrait_top_standard($column, $row) {
    @media screen and (orientation:portrait) and (max-height: 2000px) and (min-height: 600px) {
        grid-column: $column;
        grid-row: $row;
        scale: 1;
        margin: 0;
     }
}

.homeTopView {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (orientation:portrait) and (max-height: 2000px) and (min-height: 600px) {
        width: calc(100% - 20px - 20px);
        height: calc(100% - 20px - 20px);
        min-height: 160px;
        margin-left: 20px;
        margin-left: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);
        display: grid;
        grid-template-columns: 20px 1fr 10px 1fr 10px 1fr;
        grid-template-rows: 10px 1fr 5px 1fr 10px;

    }
    @media screen and (max-width: 560px) {
        grid-template-columns: 20px 1fr 10px 1fr;
        grid-template-rows: 10px 1fr 5px 1fr 5px 1fr 10px;
    }
}
.home_toptop_standard {
    font-size: 11px;
    font-weight: bold;
    color: #afb4c1;
    margin: 0;
}
.home_topbottom_standard {
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.home_top_arrow_stat {
    width: 180px;
    height: 65px;
    margin-left: 27px;

    @media screen and (max-height: 849px) { scale: (0.8);}
    @media screen and (max-width: 1150px) { scale: (0.8);}

  
}

#home_top_borrow {@include portrait_top_standard(2, 2);}
#home_top_average_income_small {@include portrait_top_standard(2, 4);}

.home_top_arrow_stat_top {
    width: 100%;
    height: 22px;
    display: flex; align-items: flex-end;
}
.home_top_arrow_stat_top>p {
    margin: 0;
}
.home_top_arrow_stat_bottom {
    width: 100%;
    height: calc(100% - 22px);
    display: flex;
}
.home_top_arrow_stat_bottom>p {margin: 0; margin-top: 3px;}
.home_top_arrow_stat_bottom>img {height: 12px; transform: translateY(10px); margin-left: 10px; margin-top: 3px;}


#home_top_annual_profit {
    margin-left: 0px;
    @include portrait_top_standard(4, 2);
}
#home_top_average_income {
    @include portrait_top_standard(2, 4);
    margin-left: 0px;
}


.home_top_graph_stat {
    width: 250px;
    height: 65px; 
    margin-left: 27px;
    display: flex;

    @media screen and (max-height: 849px) { scale: (0.8);}
    @media screen and (max-width: 1150px) { scale: (0.8);}

   
}
.home_top_graph_stat_part {
    width: 125px;
    height: 100%;
}
.home_top_graph_stat_top {
    width: 125px;
    height: 22px;
    display: flex; align-items: flex-end;
}
.home_top_graph_stat_top>p {
    margin: 0;
}
.home_top_graph_stat_bottom {
    width: 125px;
    height: calc(100% - 22px);
    display: flex;
}
.home_top_graph_stat_bottom>p {margin: 0; margin-top: 3px;}

.home_top_graph_graph_part {
    width: calc(100% - 125px);
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.home_top_graph_graph_part>p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #4873d3;
    position: absolute; top: 5px; left: 35px;
}


/*------------LEAD CONVERSION-------------*/

#home_top_lead_conversion {
    @include portrait_top_standard(6, 2);

    @media screen and (max-width: 560px) {
        @include portrait_top_standard(2, 6);
    }
}

.home_top_lead_conversion {
    width: 115px;
    height: 65px;
    margin-left: 0px;

    @media screen and (max-height: 849px) { scale: (0.8);}
    @media screen and (max-width: 1150px) { scale: (0.8);}

}
.home_top_lead_conversion_stat_top {
    width: 100%;
    height: 22px;
    display: flex; align-items: flex-end;
}
.home_top_lead_conversion_stat_top>p {
    margin: 0;
}
.home_top_lead_conversion_stat_bottom {
    width: 100%;
    height: calc(100% - 22px);
    display: flex;
}
.home_top_lead_conversion_stat_bottom>p {margin: 0; margin-top: 3px;}
.home_top_lead_conversion_stat_bottom>img {height: 12px; transform: translateY(10px); margin-left: 10px; margin-top: 3px;}

/*------------ANNUAL DEALS-------------*/

#home_top_annual_deals {@include portrait_top_standard(4, 4);}
#home_top_annual_deals_small {@include portrait_top_standard(4, 4);}


.home_top_annual_deals {
    width: 250px;
    height: 65px; 
    margin-left: 0px;
    display: flex;

    @media screen and (max-height: 849px) { scale: (0.8);}
    @media screen and (max-width: 1150px) { scale: (0.8);}
}
.home_top_annual_deals_stat_part {
    width: 120px;
    height: 100%;
}
.home_top_annual_deals_stat_top {
    width: 120px;
    height: 22px;
    display: flex; align-items: flex-end;
}
.home_top_annual_deals_stat_top>p {
    margin: 0;
}
.home_top_annual_deals_stat_bottom {
    width: 120px;
    height: calc(100% - 22px);
    display: flex;
}
.home_top_annual_deals_stat_bottom>p {margin: 0; margin-top: 3px;}

.home_top_annual_deals_graph_part {
    width: calc(100% - 120px);
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.home_top_annual_deals_graph_part>p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #f75454;
    position: absolute; top: 5px; left: 35px;
}

