

.home {
    width: 100%;
    height: 100%; /* 100px being Navbar height */
    background-color: #eff3f5; 
    
    @media (max-height: 770px) {
        height: 100%;
        overflow: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
    }
    

}

.home::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.home_container {
    width: 100%;
    height: calc(100% - 100px); /* 100px being Navbar height */
    background-color: #eff3f5; 
    

   
}

.home_top {
    width: 100%;
    height: 17.5%;
    max-height: 210px;
/*    background-color: blue; */
    
    display: flex;
    align-items: center;
    @media (max-height: 930px) and (min-height: 890px) {
        height: calc(100% - 685px);
    
    } 
    
    @media screen and (max-height: 889px) and (min-height: 100px) {
         height: calc(100% - 680px);
         min-height: 80px;
    
    } 

}

/*------------HOME MIDDLE-------------*/


.home_middle {
    width: 100%;
    height: 320px;
    min-height: 320px;

    @media screen and (max-width: 1164px)  {
        overflow: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
    } 
}

.home_middle::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.home_middle_container {
    height: auto;
    width: auto;
    min-width: 1165px;
    display: flex; justify-content: space-between;
}


.home_bottom {
    width: 100%;
    height: 47%;
    min-height: 380px;

    @media screen and (max-height: 2000px) and (min-height: 970px) {
        height: calc(100% - 530px);
    }
  
    
}


