@mixin flexCenter($content) {
    display: flex; 
    align-items: center; 
    justify-content: $content;
}



.homeBottomView {
    width: 100%;
    height: 100%;
    
}


/* HOME BOTTOM TOP SECTION */

.home_bottom_top {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-height: 970px) { height: calc(100% - 345px);}
    @media screen and (max-height: 969px) { height: 66px}

}
.home_bottom_top_left {
    display: flex; justify-content: space-between; align-items: flex-end;
    width: 295px;
    height: 100%;
    margin-left: 20px;

   
}
.home_bottom_top_left>p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 25px;

    @media screen and (max-height: 969px) { 
        scale: 0.8;
        margin-left: -10px;
        margin-bottom: 15px;
    }
}
#home_bottom_dropdown {
    @include flexCenter(center);
    width: 128px;
    height: 38px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);

    @media screen and (max-height: 969px) { 
        scale: 0.8;
        margin-bottom: 10px;
        transform: translateX(-55px);
    }
}
#home_bottom_dropdown>p {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
#home_bottom_dropdown>img {
    height: 5px;
    margin-left: 35px;
}


.home_bottom_top_right {
    display: flex; align-items: flex-end; justify-content: space-between;
    width: 105px;
    height: 100%;
    margin-right: 20px;
}
#home_bottom_filter {
    width: 105px;
    height: 38px;
    background-color: white;
    border-radius: 5px;
    display: flex; align-items: center; justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);

    @media screen and (max-height: 969px) { 
        scale: 0.8;
        margin-bottom: 10px;
        transform: translateX(10px);
    }
}
#home_bottom_filter>p {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    margin-left: 11px;
}
#home_bottom_filter>img {
    height: 11px;
    
}


/* HOME BOTTOM BOTTOM SECTION */

.home_bottom_bottom {
    width: 100%;
    height: calc(100% - 95px);
    background-color: #eff3f5;
    min-height: 315px;

}
.home_bottom_client_constainer {
    width: calc(100% - 40px);
    height: 295px;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
}
.home_bottom_client_top {
    @include flexCenter(space-between);
    width: 100%;
    height: 55px;
    border-style: solid;
    border-color: #e5e9ec;
    border-width: 0px 0px 1px 0px;

}

.home_bottom_client_wrapper {
    width: 100%;
    height: calc(100% - 55px);
    
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.home_bottom_client_wrapper::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}




#home_category_name {margin-left: 26px;}

.home_client_common {
    height: 100%;
    display: flex; align-items: center;  
}

.client_categories {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    transform: translateY(2px);
    
}
.client_section {height: 100%; display: flex; align-items: center; }

.client_category_name {width: 243px;}
.client_category_progress {width: 153px;}
.client_category_type { width: 124px;}
.client_category_amount {width: 160px;}
.client_category_contact {width: 221px;}
.client_category_created {width: 174px;}
.client_category_last_modified {width: 171px;}

.client_category_name>p {margin-left: 25px; width: auto;}

.client_contact {margin-left: 5px;}


.client_profile_pic {
    height: 28px;
    transform: translateY(3px);
}

.home_bottom_client_bottom {
    @include flexCenter(space-between);
    width: 100%;
    height: 55px;
    border-style: solid;
    border-color: #e5e9ec;
    border-width: 0px 0px 1px 0px;
}

#client_progress_box1 {
    @include flexCenter(center);
    width: 70px;
    height: 25px;
    border-radius: 3px;
    background-color: #4873d3;
    transform: translateY(2px);
    
}
#client_progress_box1>p {
    font-size: 12px;
    color: white;
    transform: translateY(0px);
}

#client_progress_box2 {
    @include flexCenter(center);
    width: 90px;
    height: 25px;
    border-radius: 3px;
    background-color: #22c4ab;
    transform: translateY(2px);
    
}
#client_progress_box2>p {
    font-size: 12px;
    color: white;
    transform: translateY(0px);
}

#client_progress_box3 {
    @include flexCenter(center);
    width: 85px;
    height: 25px;
    border-radius: 3px;
    background-color: #84d0f0;
    transform: translateY(2px);
    
}
#client_progress_box3>p {
    font-size: 12px;
    color: white;
    transform: translateY(0px);
}


